<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  
    <!-- Custom CSS -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-light bg-white">
        <div class="container">
          <a class="navbar-brand" href="/">
            <img src="/images/logo.png" width="45" height="45" class="d-inline-block align-middle" alt="Logo">
            <span>Trading Sector Visualization</span>
          </a>
          <ul class="navbar-link">
            <li>
              <a class="nav-link" href="/indikator-ekonomi">ECONOMIC INDICATORS</a>
            </li>
            <li>
              <a class="nav-link" href="/ekspor-impor">EXPORT/IMPORT</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <main>
      <section>
        <header class="section-header bg-green">
          <div class="container">  
            <h3>INDONESIA COMMODITY PRICE</h3>
            <span>Last Update: September 14th, 2017</span>
          </div>
        </header>
        <div class="section-content">
          <div class="container">
            <div class="row">
              <div class="col-3">
                <div class="section-content__item">
                  <div class="item__image">
                    <img src="/images/komoditas/minyak-goreng.jpg">
                  </div>
                  <div class="item__name">
                    <span>Cooking Oil</span>
                  </div>
                  <div class="item__price">
                    <span>Rp 11.457</span>
                    <img src="/images/up.png">
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="section-content__item">
                  <div class="item__image">
                    <img src="/images/komoditas/daging-sapi.jpg">
                  </div>
                  <div class="item__name">
                    <span>Beef Meat</span>
                  </div>
                  <div class="item__price">
                    <span>Rp 116.447</span>
                    <img src="/images/down.png">
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="section-content__item">
                  <div class="item__image">
                    <img src="/images/komoditas/daging-ayam.jpg">
                  </div>
                  <div class="item__name">
                    <span>Broiler Chicken Meat</span>
                  </div>
                  <div class="item__price">
                    <span>Rp 30.497</span>
                    <img src="/images/down.png">
                  </div>
                </div>                
              </div>
              <div class="col-3">
                <div class="section-content__item">
                  <div class="item__image">
                    <img src="/images/komoditas/telur-ayam.jpg">
                  </div>
                  <div class="item__name">
                    <span>Chicken Egg</span>
                  </div>
                  <div class="item__price">
                    <span>Rp 22.651</span>
                    <img src="/images/up.png">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-3">
                <div class="section-content__item">
                  <div class="item__image">
                    <img src="/images/komoditas/tepung-terigu.jpg">
                  </div>
                  <div class="item__name">
                    <span>White Flour</span>
                  </div>
                  <div class="item__price">
                    <span>Rp 9.070</span>
                    <img src="/images/down.png">
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="section-content__item">
                  <div class="item__image">
                    <img src="/images/komoditas/kedelai-impor.jpg">
                  </div>
                  <div class="item__name">
                    <span>Soybean</span>
                  </div>
                  <div class="item__price">
                    <span>Rp 10.685</span>
                    <img src="/images/up.png">
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="section-content__item">
                  <div class="item__image">
                    <img src="/images/komoditas/kedelai-lokal.jpg">
                  </div>
                  <div class="item__name">
                    <span>Local Soybean</span>
                  </div>
                  <div class="item__price">
                    <span>Rp 10.709</span>
                    <img src="/images/up.png">
                  </div>
                </div>                
              </div>
              <div class="col-3">
                <div class="section-content__item">
                  <div class="item__image">
                    <img src="/images/komoditas/beras-medium.jpg">
                  </div>
                  <div class="item__name">
                    <span>Medium Rice</span>
                  </div>
                  <div class="item__price">
                    <span>Rp 10.621</span>
                    <img src="/images/up.png">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-3">
                <div class="section-content__item">
                  <div class="item__image">
                    <img src="/images/komoditas/gula-pasir.jpg">
                  </div>
                  <div class="item__name">
                    <span>White Sugar</span>
                  </div>
                  <div class="item__price">
                    <span>Rp 13.024</span>
                    <img src="/images/down.png">
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="section-content__item">
                  <div class="item__image">
                    <img src="/images/komoditas/cabe-keriting.jpg">
                  </div>
                  <div class="item__name">
                    <span>Curly Red Pepper</span>
                  </div>
                  <div class="item__price">
                    <span>Rp 29.597</span>
                    <img src="/images/down.png">
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="section-content__item">
                  <div class="item__image">
                    <img src="/images/komoditas/cabe-merah.jpg">
                  </div>
                  <div class="item__name">
                    <span>Red Chili Pepper</span>
                  </div>
                  <div class="item__price">
                    <span>Rp 28.188</span>
                    <img src="/images/down.png">
                  </div>
                </div>                
              </div>
              <div class="col-3">
                <div class="section-content__item">
                  <div class="item__image">
                    <img src="/images/komoditas/bawang-merah.jpg">
                  </div>
                  <div class="item__name">
                    <span>Red Onion</span>
                  </div>
                  <div class="item__price">
                    <span>Rp 26.906</span>
                    <img src="/images/down.png">
                  </div>
                </div>
              </div>
            </div>            
          </div>
        </div>
      </section>
    </main>

    <!-- Optional JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  </body>
</html>
